#wrapper {
	width:100%;
	margin:auto;
}

h1 {
    color: #e41f0f;
    font-size: 5em;
}

h2 {
    color: #e41f0f;
    font-size: 3.75em;
}

p {
    font-size: 2.5em;
}

/* ------------ */
/* --- MAIN --- */
/* ------------ */

.square-box, .square-box-small {
    font-family: ENBAR;
    position: relative;
    width: 28.33333%;
    overflow: inherit;
    white-space: normal;
    background: #e41f0f;
    /*margin: 5.5% 0px 0px 5.5%;*/
    margin: 2.25%;
    float:left;
}
.square-box-small {
    width:20%;
    font-size:0.8em;
}
.square-box:before, .square-box-small:before{
    content: "";
    display: block;
    padding-top: 100%;
}
.square-content{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.square-content div {
    display: table;
    width: 100%;
    height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 2.5em;
    font-weight: bolder;
    color: white;
}

/* -------------- */
/* --- FOOTER --- */
/* -------------- */

footer {
	font-size:1.5em;
}

footer img {
    margin-top: 20px;
    background-attachment: scroll;
}

footer span {
    padding:2px 0px;
    display:inline-block;
}

footer button {
    font-size:0.9em;
    border:1px solid black;
    border-radius:5px;
}

/* ----------------- */
/* --- SONSTIGES --- */
/* ----------------- */

a.invisible {
    text-decoration: none;
    color: black;
}

.superheadline {
    display: block;
    width: 100%;
    border-bottom: 10px solid #e41f0f;
}

.home_img {
    margin: 0px 0px 2.25% 2.25%;
}

.transparent {
    background-color: transparent;
}